<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>openacc</title>
</head>
<body>
<form action="openacc" method="post">
  userId:<input type="text" name="userId" size="80" /></p>
  userName:<input type="text" name="userName" size="80" /></p>
  sex:<input type="text" name="sex" size="80" /></p>
  cardNum:<input type="text" name="cardNum" size="80" /></p>
  accountId:<input type="text" name="accountId" size="80" /></p>
  accountType:<input type="text" name="accountType" size="80" /></p>
  <input type="submit" value="提交" />
</form>
</body>
</html>